@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shimmer {
  0% {
    background-position: -700px 0;
  }
  100% {
    background-position: 700px 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.5) 37%,
    rgba(255, 255, 255, 0.2) 63%
  );
  background-size: 1400px 100%;
  animation: shimmer 1.5s infinite linear;
}
